<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav id="nav_front">
        <label id="titulo_nav"> Proyecto 2 </label>
        <button id="boton_registro_nav">Registro</button>
        <button id="boton_login_nav">Iniciar Sesion</button>
        <button id="boton_vistas_nav">Vistas</button>
        <button id="btnCerrarSesion">Cerrar Sesion</button>
    </nav>
    <div id="login_dash">
        <div id="cuadro_fondo"></div>
        <label id="titulo_login">Iniciar Sesion</label>
        <input id="login_texto_usuario" placeholder="Usuario"></input>
        <input type="password" id="login_texto_password" placeholder="Contraseña"></input>
        <button id="boton_login"> Iniciar Sesion</button>

    </div>
    <div id="registro">
        <label id="titulo_registro">Registro de Usuario</label>
        <input id="registro_texto_nombre" placeholder="Nombre"></input>
        <input id="registro_texto_usuario" placeholder="Usuario"></input>
        <input type="password" id="registro_texto_password" placeholder="Contraseña"></input>
        <input id="registro_texto_edad" placeholder="Edad"></input>
        <input id="registro_texto_altura" placeholder="Altura"></input>
        <input id="registro_texto_peso" placeholder="peso"></input>
        <label id="label_condiciones_registro">Condiciones pre existentes</label>
        <label id="label_horarios_sueno">Horarios de Sueño</label>

        <input type="checkbox" id="diabetes_check" name="diabetes_check" />
        <label id="label_diabetes_check">Diabetes</label>

        <input type="checkbox" id="cardiovascular_check" name="cardiovascular_check" />
        <label id="label_cardiovascular_check">Enfermedad Cardiovascular </label>

        <input type="checkbox" id="pulmonar_check" name="pulmonar_check" />
        <label id="label_pulmonar_check">Enfermedad Pulmonar</label>

        <input type="checkbox" id="autoinmune_check" name="autoinmune_check" />
        <label id="label_autoinmune_check">Enfermedad Autoinmune</label>

        <select name="Selecciona la Hora" id="horarios_sueno_select">
            <option value="1">23:00 - 08:30 Lunes</option>
            <option value="2">23:00 - 08:30 Martes</option>
            <option value="3">23:00 - 08:30 Miercoles</option>
            <option value="4">23:00 - 08:30 Jueves</option>
            <option value="5">23:00 - 08:30 Viernes</option>
        </select>

        <button id="boton_registrar"> Registrar</button>
    </div>
    <div id="vistas">
        <button type="button" id="boton_tiempo_real">Tiempo Real</button>
        <button type="button" id="boton_tiempo_historico">Historico</button>

        <div id="vista_tiempo_real">
            <div class="titulo_oxigeno">Saturacion Oxigeno</div>
            <div class="titulo_frecuencia_cardiaca">Frecuencia Cardiaca</div>

            <div class="grafico-oxigeno" style="--porcentaje_oxigeno: 0%; --color_grafica:#FF0000;">
                <div class="circulo-decoracion">
                    <div class="valor_oxigeno">0</div>
                </div>
            </div>

            <div class="grafico-cardiaco" style="--porcentaje_cardiaco: 0%; --color_grafica_cardiaco:#62c7cb;">
                <div class="circulo-decoracion">
                    <div class="valor_cardiaco">0</div>
                </div>
            </div>
        </div>

        <div id="vista_historica">

            <div
                style="width: 700px; height: 700px;  margin-right: 100px;  position: absolute; top: 150px; left: 700px;">
                <canvas id="grafica_oxigeno"></canvas>
            </div>

            <div
                style="width: 700px; height: 700px;  margin-right: 100px;  position: absolute; top: 550px; left: 700px;">
                <canvas id="grafica_ritmo_cardiaco"></canvas>
            </div>

            <div id="lista_actividades"
                style="background-color: #ffffff; width: 700px; height: 400px;  margin-right: 100px;  position: absolute; top: 950px; left: 700px;">

            </div>

            <div
                style="width: 700px; height: 400px;  margin-right: 100px;  position: absolute; top: 1380px; left: 700px;">
                <canvas id="grafica_lineal_actividad"></canvas>
            </div>

            <div
                style=" width: 700px; height: 400px;  margin-right: 100px;  position: absolute; top: 1750px; left: 700px;">
                <canvas id="grafica_barras_actividad"></canvas>
            </div>

            <div
                style=" width: 700px; height: 400px;  margin-right: 100px;  position: absolute; top: 2150px; left: 700px;">
                <canvas id="grafica_dias_mayor_menor"></canvas>
            </div>

            <div
                style="width: 700px; height: 400px;  margin-right: 100px;  position: absolute; top: 2550px; left: 700px;">
                <canvas id="grafica_barras_reposo_vs_ejercicio"></canvas>
            </div>

            <div id="calendario_actividades"
                style="background-color: #ffffff; width: 700px; height: 400px;  margin-right: 100px;  position: absolute; top: 2950px; left: 700px;">

            </div>

            <div class="col" style="display: inline-block; margin-right: 10px;">
                <label style="position: absolute; top: 300px; left: 100px; font-size: 25px;">Fecha inicio:</label><br>
                <input type="date" id="txtFechaInicial"
                    style="position: absolute; top: 300px; left: 250px; width: 250px; height: 35px; border-radius: 8px; font-size: 20px;" /><br><br><br>
                <label style="position: absolute; top: 375px; left: 100px; font-size: 25px;">Fecha fin:</label><br>
                <input type="date" id="txtFechaFinal"
                    style="position: absolute; top: 375px; left: 250px; width: 250px; height: 35px; border-radius: 8px; font-size: 20px;" /><br><br><br>
                <input type="submit" value="Consultar" id="btnConsultar"
                    style="position: absolute; top: 450px; left: 175px; font-size: 23px; border-radius: 8px; width: 250px; height: 40px; background-color: rgb(125, 227, 144);" />
            </div>
        </div>

    </div>

    <script>

        // Verificar si el usuario ha iniciado sesión utilizando sessionStorage
        var sessionUsuario = sessionStorage.getItem('sessionUsuario');

        // Obtener los botones por su ID
        var botonRegistro = document.getElementById('boton_registro_nav');
        var botonLogin = document.getElementById('boton_login_nav');
        var botonVistas = document.getElementById('boton_vistas_nav');
        var botonCerrarSesion = document.getElementById('btnCerrarSesion');

        // Comprobar si el usuario ha iniciado sesión y ocultar o mostrar los botones apropiados
        if (sessionUsuario) {
            botonRegistro.setAttribute('hidden', true);
            botonLogin.setAttribute('hidden', true);
            botonVistas.removeAttribute('hidden');
            botonCerrarSesion.removeAttribute('hidden');
        } else {
            botonVistas.setAttribute('hidden', true);
            botonCerrarSesion.setAttribute('hidden', true);
            botonRegistro.removeAttribute('hidden');
            botonLogin.removeAttribute('hidden');
        }

        // SE MUESTRA LA VISTA DEL LOGIN SIEMPRE QUE SE ACCEDA O ACTUALICE LA PAGINA PRINCIPAL
        document.getElementById("vistas").style.display = sessionUsuario ? "block" : "none";
        document.getElementById("registro").style.display = "none";
        document.getElementById("login_dash").style.display = sessionUsuario ? "none" : "block";

        document.getElementById("boton_tiempo_real").style.backgroundColor = "#BEEDC7";
        document.getElementById("vista_historica").style.display = "none";
        document.getElementById("boton_vistas_nav").style.backgroundColor = "#609BB0";

        //BOTON VISTAS - VISUALIZACION
        document.getElementById("boton_vistas_nav").addEventListener("click", function (event) {
            document.getElementById("boton_vistas_nav").style.backgroundColor = "#609BB0";
            document.getElementById("boton_registro_nav").style.backgroundColor = "#3C516D";
            document.getElementById("boton_login_nav").style.backgroundColor = "#3C516D";
            document.getElementById("vistas").style.display = "block";
            document.getElementById("registro").style.display = "none";
            document.getElementById("login_dash").style.display = "none";
        });
        //BOTON REGISTRO - VISUALIZACION
        document.getElementById("boton_registro_nav").addEventListener("click", function (event) {
            document.getElementById("boton_vistas_nav").style.backgroundColor = "#3C516D";
            document.getElementById("boton_registro_nav").style.backgroundColor = "#609BB0";
            document.getElementById("boton_login_nav").style.backgroundColor = "#3C516D";
            document.getElementById("vistas").style.display = "none";
            document.getElementById("registro").style.display = "block";
            document.getElementById("login_dash").style.display = "none";
        });
        //BOTON LOGIN - VISUALIZACION
        document.getElementById("boton_login_nav").addEventListener("click", function (event) {
            document.getElementById("boton_vistas_nav").style.backgroundColor = "#3C516D";
            document.getElementById("boton_registro_nav").style.backgroundColor = "#3C516D";
            document.getElementById("boton_login_nav").style.backgroundColor = "#609BB0";
            document.getElementById("vistas").style.display = "none";
            document.getElementById("registro").style.display = "none";
            document.getElementById("login_dash").style.display = "block";
        });

        //BOTON LOGIN USUARIO
        document.getElementById("boton_login").addEventListener("click", function (event) {

            let usuario_login = document.getElementById("login_texto_usuario").value
            let password_login = document.getElementById("login_texto_password").value

            //HACER LOGIN
            fetch('<%= ruta_request %>' + 'login' + '/' + usuario_login + '/' + password_login, {
                method: 'GET', headers: { 'Content-Type': 'application/json' }
            })
                .then(response => response.json())
                .then(data => {
                    Swal.fire({
                        title: (data.code == 200 ? 'Exitoso' : 'Error'),
                        text: data.message,
                        icon: (data.code == 200 ? 'success' : 'error'),
                        confirmButtonText: 'Ok',
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed && data.code == 200) {
                            sessionStorage.setItem('sessionUsuario', data.session);
                            location.reload();
                        }
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        //BOTON REGISTRAR USUARIO
        document.getElementById("boton_registrar").addEventListener("click", function (event) {
            let nombre = document.getElementById("registro_texto_nombre").value
            let usuario = document.getElementById("registro_texto_usuario").value
            let password = document.getElementById("registro_texto_password").value
            let edad = document.getElementById("registro_texto_edad").value
            let altura = document.getElementById("registro_texto_altura").value
            let peso = document.getElementById("registro_texto_peso").value
            let valor_diabetes = document.getElementById("diabetes_check").checked              //FALSE O TRUE
            let valor_cardiovascular = document.getElementById("cardiovascular_check").checked  //FALSE O TRUE
            let valor_pulmonar = document.getElementById("pulmonar_check").checked              //FALSE O TRUE
            let valor_autoinmune = document.getElementById("autoinmune_check").checked          //FALSE O TRUE
            let horario_sueno = document.getElementById("horarios_sueno_select").value

            const data = {
                usuario: usuario,
                nombre: nombre,
                pass: password,
                edad: edad,
                altura: altura,
                peso: peso,
                diabetes: valor_diabetes,
                cardiovascular: valor_cardiovascular,
                pulmonar: valor_pulmonar,
                autoinmune: valor_autoinmune,
                horarioSue: horario_sueno
            };

            //GUARDARLO EN LA BASE DE DATOS
            fetch('<%= ruta_request %>' + 'registrar', {
                method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    Swal.fire({
                        title: (data.code == 200 ? 'Exitoso' : 'Error'),
                        text: data.message,
                        icon: (data.code == 200 ? 'success' : 'error'),
                        confirmButtonText: 'Ok',
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed && data.code == 200) {
                            location.reload();
                        }
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        //BOTON CERRAR SESION
        document.getElementById("btnCerrarSesion").addEventListener("click", function (event) {
            sessionStorage.clear();
            location.reload();
        });

        //BOTON TIEMPO REAL
        document.getElementById("boton_tiempo_real").addEventListener("click", function (event) {
            document.getElementById("vista_historica").style.display = "none";
            document.getElementById("vista_tiempo_real").style.display = "block";
            document.getElementById("boton_tiempo_historico").style.backgroundColor = "white";
            document.getElementById("boton_tiempo_real").style.backgroundColor = "#BEEDC7";
        });
        //BOTON HISTORICO
        document.getElementById("boton_tiempo_historico").addEventListener("click", function (event) {
            document.getElementById("vista_historica").style.display = "block";
            document.getElementById("vista_tiempo_real").style.display = "none";
            document.getElementById("boton_tiempo_historico").style.backgroundColor = "#BEEDC7";
            document.getElementById("boton_tiempo_real").style.backgroundColor = "white";
        });
        //BOTON CONSULTAR
        document.getElementById("btnConsultar").addEventListener("click", function (event) {
            let fecha_inicial = document.getElementById("txtFechaInicial").value;
            let fecha_final = document.getElementById("txtFechaFinal").value;
            fetch('<%= ruta_request %>' + 'informacion/' + sessionStorage.getItem('sessionUsuario') + '/' + fecha_inicial + "/" + fecha_final)
                .then((response) => response.json())
                .then((data) => {
                    mostrar_grafico_historico(data.titulos_eje_x, data.valores_eje_y, data.valores_eje_y_f);
                })
                .catch((error) => {
                    console.error("Error:", error);
                });

            fetch('<%= ruta_request %>' + 'lista-actividades-tabla/' + sessionStorage.getItem('sessionUsuario') + '/' + fecha_inicial + "/" + fecha_final)
                .then((response) => response.json())
                .then((data) => {
                    mostrar_tabla_lista_actividades(data);
                })
                .catch((error) => {
                    console.error("Error:", error);
                });

            fetch('<%= ruta_request %>' + 'lista-actividades-lineal/' + sessionStorage.getItem('sessionUsuario') + '/' + fecha_inicial + "/" + fecha_final)
                .then((response) => response.json())
                .then((data) => {
                    mostrar_grafica_lineal_actividad(data.titulos_eje_x, data.valores_eje_y, data.color_valores);
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        });

        // FUNCION PARA CAMBIAR EL PORCENTAJE DE LA TABLA
        function cambiar_saturacion_oxigeno(nuevoPorcentaje) {
            const grafico_temp = document.querySelector('.grafico-oxigeno');
            grafico_temp.style.setProperty('--porcentaje_oxigeno', (nuevoPorcentaje) + '%');
            document.querySelector('.valor_oxigeno').textContent = nuevoPorcentaje + '%';
            //CAMBIO DE COLOR
            if (nuevoPorcentaje >= 96) {
                grafico_temp.style.setProperty('--color_grafica', ("#04FF00")) //VERDE
            }
            else if (nuevoPorcentaje == 95) {
                grafico_temp.style.setProperty('--color_grafica', ("#0051FF")) //AZUL
            }
            else {
                grafico_temp.style.setProperty('--color_grafica', ("#FF0000")) //ROJO
            }
        }
        // FUNCION PARA CAMBIAR EL PORCENTAJE DE LA TABLA
        function cambiar_ritmo_cardiaco(nuevoPorcentaje) {
            const grafico_temp = document.querySelector('.grafico-cardiaco');
            grafico_temp.style.setProperty('--porcentaje_cardiaco', (nuevoPorcentaje * 100 / 200) + '%');
            document.querySelector('.valor_cardiaco').textContent = nuevoPorcentaje + 'ppm';

            //CAMBIO DE COLOR
            if (nuevoPorcentaje >= 100) {                                                                            //CARDIACO MAYOR IGUAL A 100
                grafico_temp.style.setProperty('--color_grafica_cardiaco', ("#FF0000")) //ROJO
            } else if (nuevoPorcentaje >= 61 && nuevoPorcentaje <= 99) {                                                 //CARDIACO ENTRE 61 Y 99
                grafico_temp.style.setProperty('--color_grafica_cardiaco', ("#04FF00")) //VERDE
            } else {                                                                                               //CARDIACO MENOR IGUAL A 60
                grafico_temp.style.setProperty('--color_grafica_cardiaco', ("#FF0000")) //ROJO
            }

        }

        // TABLA: A TRAVES DE ESTA FUNCION SE CREA EL ENCABEZADO
        function crear_encabezado(cabecera, titulo, porcentaje_tamano) {
            const encabezado = document.createElement('th'); //COLUMNA 1
            encabezado.textContent = titulo;
            encabezado.style.width = porcentaje_tamano
            encabezado.style.backgroundColor = "lightblue";
            encabezado.style.border = "1px solid black";
            encabezado.style.textAlign = "center"
            cabecera.appendChild(encabezado);
        }
        // TABLA: ESTRUCTURA DE LA TABLA
        function crear_tabla(contenedor, datos, encabezados, tamanos_encabezado) {
            const tabla = document.createElement('table');          //CREAMOS LA TABLA
            const cabecera = document.createElement('thead');       //CREAMOS LOS HEAD
            const cabeceraFila = document.createElement('tr');      //NUEVA FILA

            //CREAMOS CADA ENCABEZADO
            let encabezado = encabezados.split(",");
            let tamanos_enc = tamanos_encabezado.split(",");
            for (var i = 0; i < encabezado.length; i++) {
                crear_encabezado(cabeceraFila, encabezado[i], tamanos_enc[i]);
            }
            //AGREGAMOS EL CONTENIDO
            const cuerpo = document.createElement('tbody');         //CONTENIDO DE LA TABLA (TBODY)
            separado = datos.split(";")                             //SEPARAMOS LA CADENA POR CADA ";"
            separado.forEach((fila) => {                            //RECORREMOS LA CADENA
                const filaTabla = document.createElement('tr');     //NUEVA FILA
                let datos_separados = fila.split(",")               //SEPARAMOS LA CADENA POR ","
                datos_separados.forEach((val) => {                   //RECORREMOS LA CADENA NUEVA
                    const td1 = document.createElement('td');       //CREAMOS LA CELDA
                    let archivo_nombre = val
                    td1.textContent = archivo_nombre;
                    td1.style.width = "35%"
                    td1.style.border = "1px solid black";
                    filaTabla.appendChild(td1);                     //AGREGAMOS LA CELDA A LA FILA

                });

                cuerpo.appendChild(filaTabla);                      //AGREGAMOS LA FILA AL CUERPO
            });
            tabla.appendChild(cuerpo);                              //AGREGAMOS EL CUERPO A LA TABLA

            cabecera.appendChild(cabeceraFila);                     //AGREGAMOS LOS ENCABEZADOS AL HEAD
            tabla.appendChild(cabecera);                            //AGREGAMOS EL HEAD A LA TABLA
            tabla.style.border = "1px solid black";

            contenedor.appendChild(tabla);                          //AGREGAMOS LA TABLA AL DIV
            contenedor.style.overflow = "auto";
            contenedor.style.maxHeight = "400px";
        }

        // MUESTRA LOS HISTORICOS PARA EL OXIGENO Y EL RITMO CARDIACO
        function mostrar_grafico_historico(titulos_eje_x, valores_hist_oxigeno, valores_hist_frecuencia) {

            const graf_hist_oxigeno = document.getElementById("grafica_oxigeno");
            const graf_hist_cardiaco = document.getElementById("grafica_ritmo_cardiaco");

            // Destruir el grafico del oxigeno
            const existingChart1 = Chart.getChart(graf_hist_oxigeno);
            if (existingChart1) {
                existingChart1.destroy();
            }

            // Destruir el grafico del ritmo cardiaco
            const existingChart2 = Chart.getChart(graf_hist_cardiaco);
            if (existingChart2) {
                existingChart2.destroy();
            }

            // Construir el grafico
            new Chart(graf_hist_oxigeno, {
                type: "line",
                data: {
                    labels: titulos_eje_x,
                    datasets: [
                        {
                            label: "Saturación oxígeno",
                            data: valores_hist_oxigeno,
                            tension: 0.5,
                            borderColor: 'rgb(75, 148, 227)',
                            pointBackgroundColor: 'rgba(75, 148, 227)',
                        },
                    ],
                },
                options: {
                    plugins: {

                        title: {
                            display: true,
                            text: 'Saturación oxígeno',
                            font: {
                                size: 24 // Cambia el tamaño del título aquí
                            }
                        }
                    },
                    scales: {
                        y: {
                            min: 0,
                            grid: {
                                display: false
                            }
                        },
                        x: {
                            ticks: { color: 'rgb(10, 10, 10)' },
                            grid: {
                                display: false
                            }
                        }
                    },
                },
            });

            // Construir el grafico 2
            new Chart(graf_hist_cardiaco, {
                type: "line",
                data: {
                    labels: titulos_eje_x,
                    datasets: [
                        {
                            label: "Frecuencia Cardiaca",
                            data: valores_hist_frecuencia,
                            tension: 0.5,
                            borderColor: 'rgb(75, 148, 227)',
                            pointBackgroundColor: 'rgba(75, 148, 227)',
                        },
                    ],
                },
                options: {
                    plugins: {

                        title: {
                            display: true,
                            text: 'Frecuencia Cardiaca',
                            font: {
                                size: 24 // Cambia el tamaño del título aquí
                            }
                        }
                    },
                    scales: {
                        y: {
                            min: 0,
                            grid: {
                                display: false
                            }
                        },
                        x: {
                            ticks: { color: 'rgb(10, 10, 10)' },
                            grid: {
                                display: false
                            }
                        }
                    },
                },
            });

        }
        // MUESTRA LA TABLA HISTORICO DEL REGISTRO DE ACTIVIDADES
        function mostrar_tabla_lista_actividades(datos) {
            contenedor_reporte1 = document.getElementById("lista_actividades");

            // Elimina el contenido actual del contenedor
            while (contenedor_reporte1.firstChild) {
                contenedor_reporte1.removeChild(contenedor_reporte1.firstChild);
            }

            let encabezados1 = 'Usuario,No. Registro,Fecha,Categoria Actividad,Oxigeno,Ritmo Cardiaco,Color,Horario Sueño'  //ENCABEZADOS
            let tamanos1 = '15%,12%,12%,12%,12%,12%,12%,12%'                                                                //TAMAÑOS % DE ENCABEZADO
            crear_tabla(contenedor_reporte1, datos, encabezados1, tamanos1);
        }
        // MUESTA LA GRAFICA LINEAL DEL REGISTRO DE ACTIVIDADES
        function mostrar_grafica_lineal_actividad(titulos_eje_x, valores_eje_y, colores_valor) {

            const graf_lineal_actividad = document.getElementById("grafica_lineal_actividad");

            // Destruir el grafico
            const existingChart1 = Chart.getChart(graf_lineal_actividad);
            if (existingChart1) {
                existingChart1.destroy();
            }

            // Construir el grafico
            new Chart(graf_lineal_actividad, {
                type: "line",
                data: {
                    labels: titulos_eje_x,
                    datasets: [
                        {
                            label: "Actividad Fisica",
                            data: valores_eje_y,
                            tension: 0.5,
                            borderColor: "transparent",
                            pointBackgroundColor: colores_valor,
                            fill: 'start',

                        },
                    ],
                },
                options: {
                    plugins: {

                        title: {
                            display: true,
                            text: 'Actividad Fisica',
                            font: {
                                size: 24 // Cambia el tamaño del título aquí
                            }
                        }
                    },
                    scales: {
                        y: {
                            min: 0,
                            grid: {
                                display: false
                            }
                        },
                        x: {
                            ticks: { color: 'rgb(10, 10, 10)' },
                            grid: {
                                display: false
                            }
                        }
                    },
                },
            });
        }

        // //CREAR GRAFICA DE ACTIVIDAD FISICA ACUMULADA (BARRAS)
        // const graf_barras_actividad = document.getElementById("grafica_barras_actividad");
        // var ejey_actividad_fisica_acum = [10, 20, 30, 40];   //CAMBIAR LOS DATOS POR LOS DE LA BASE
        // var ejeX_actividad_fisica = ["Actividad Fisica Inteso", "Actividad fisica normal", "Sin actividad fisica o reposo", "Irregularidad sueño"]
        // new Chart(graf_barras_actividad, {
        //     type: "bar",
        //     data: {
        //         labels: ejeX_actividad_fisica,
        //         datasets: [
        //             {
        //                 label: "Actividad Fisica",
        //                 data: ejey_actividad_fisica_acum,
        //                 tension: 0.5,
        //                 backgroundColor: [
        //                     'orange', 'green', 'blue', 'red' // Colores para cada segmento de la línea
        //                 ],
        //             },
        //         ],
        //     },
        //     options: {
        //         plugins: {

        //             title: {
        //                 display: true,
        //                 text: 'Actividad Fisica',
        //                 font: {
        //                     size: 24 // Cambia el tamaño del título aquí
        //                 }
        //             }
        //         },
        //         scales: {
        //             y: {
        //                 min: 0,
        //                 grid: {
        //                     display: false
        //                 }
        //             },
        //             x: {
        //                 ticks: { color: 'rgb(10, 10, 10)' },
        //                 grid: {
        //                     display: false
        //                 }
        //             }
        //         },
        //     },
        // });

        //CREAR GRAFICA DE 10 DIAS MAS ACTIVOS DE MAYOR A MENOR
        // const graf_mayor_menor = document.getElementById("grafica_dias_mayor_menor");
        // var ejey_oxigeno_top = [100, 98, 97, 98, 90, 95, 96, 100, 99, 99, 97, 95];  //CAMBIAR
        // var ejey_cardiaco_top = [100, 95, 90, 85, 83, 82, 80, 78, 77, 73, 70, 69];   //CAMBIAR
        // new Chart(graf_mayor_menor, {
        //     type: "line",
        //     data: {
        //         labels: ejeX,
        //         datasets: [
        //             {
        //                 label: "Oxigeno",
        //                 data: ejey_oxigeno_top,
        //                 tension: 0.5,
        //                 borderColor: 'skyblue',
        //                 pointBackgroundColor: 'skyblue',
        //             },
        //             {
        //                 label: "Ritmo Cardiaco",
        //                 data: ejey_cardiaco_top,
        //                 tension: 0.5,
        //                 borderColor: 'orange',
        //                 pointBackgroundColor: 'orange',
        //             },
        //         ],
        //     },
        //     options: {
        //         plugins: {

        //             title: {
        //                 display: true,
        //                 text: 'Horarios mas activos de dia',
        //                 font: {
        //                     size: 24 // Cambia el tamaño del título aquí
        //                 }
        //             }
        //         },
        //         scales: {
        //             y: {
        //                 min: 0,
        //                 grid: {
        //                     display: false
        //                 }
        //             },
        //             x: {
        //                 ticks: { color: 'rgb(10, 10, 10)' },
        //                 grid: {
        //                     display: false
        //                 }
        //             }
        //         },
        //     },
        // });

        // //CREAR GRAFICA DE REPOSO VS ACTIVIDAD NORMAL
        // const graf_act_fisica_vs_reposo = document.getElementById("grafica_barras_reposo_vs_ejercicio");
        // var ejey_act_normal = [100, 98, 97, 98, 90, 95, 96, 100, 99, 99, 97, 95];   //CAMBIAR
        // var ejey_act_reposo = [100, 95, 90, 85, 83, 82, 80, 78, 77, 73, 70, 69];     //CAMBIAR
        // new Chart(graf_act_fisica_vs_reposo, {
        //     type: "line",
        //     data: {
        //         labels: ejeX,
        //         datasets: [
        //             {
        //                 label: "Actividad Fisica Reposo",
        //                 data: ejey_act_reposo,
        //                 tension: 0.5,
        //                 borderColor: 'blue',
        //                 pointBackgroundColor: 'blue',
        //                 fill: 'start',
        //                 backgroundColor: '#6795D3',
        //             },
        //             {
        //                 label: "Actividad Fisica Normal",
        //                 data: ejey_act_normal,
        //                 tension: 0.5,
        //                 borderColor: 'green',
        //                 pointBackgroundColor: 'green',
        //                 fill: 'start',
        //                 backgroundColor: '#67D386',
        //             },
        //         ],
        //     },
        //     options: {
        //         plugins: {

        //             title: {
        //                 display: true,
        //                 text: 'Reposo vs Actividad fisica normal',
        //                 font: {
        //                     size: 24 // Cambia el tamaño del título aquí
        //                 }
        //             }
        //         },
        //         scales: {
        //             y: {
        //                 min: 0,
        //                 grid: {
        //                     display: false
        //                 }
        //             },
        //             x: {
        //                 ticks: { color: 'rgb(10, 10, 10)' },
        //                 grid: {
        //                     display: false
        //                 }
        //             }
        //         },
        //     },
        // });

        // contenedor2 = document.getElementById("calendario_actividades")                                                  //MISMA FUNCION PARA OTRO REPORTE
        // let encabezados2 = 'Usuario,No. Registro,Fecha,Categoria Actividad,Oxigeno,Ritmo Cardiaco,Color,Horario Sueño'      //DEBE TENER EL MISMO NUMERO DE DATOS QUE ENCABEZADOS
        // let tamanos2 = '15%,12%,12%,12%,12%,12%,12%,12%'                                                                    //3 ENCABEZADOS = 3 DATOS POR FILA
        // let datos2 = 'user1,1,23-10-2023,Actividad Intensiva,100%,100ppm,Orange,no;'
        // datos2 += 'user1,2,23-10-2023,Actividad Intensiva,100%,100ppm,Orange,si;'
        // datos2 += 'user1,3,23-10-2023,Actividad Intensiva,100%,100ppm,Orange,no;'
        // datos2 += 'user1,4,23-10-2023,Actividad Intensiva,100%,100ppm,Orange,no;'
        // datos2 += 'user1,5,23-10-2023,Actividad Intensiva,100%,100ppm,Orange,no'

        // crear_tabla(contenedor2, datos2, encabezados2, tamanos2);

        setInterval(async function () {

            if (sessionStorage.getItem('sessionUsuario')) {
                const result = await fetch('<%= ruta_request %>' + 'informacion/' + sessionStorage.getItem('sessionUsuario')).then(response => response.json()).then(data => data);
                cambiar_saturacion_oxigeno(result.porcentaje);
                cambiar_ritmo_cardiaco(result.frecuencia);
            }

        }, 3000);
    </script>
</body>

</html>